:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;


  .question{
    padding: 20px;
    font-size: var(--primal-font);
    font-weight: bold;
  }
}



