:host {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: start;
  height: 100%;
}

.page-content {
  width: 100%;
  background-color: var(--bg-primal);

  .content-header {
    display: flex;
    justify-content: center;

    width: 100%;
    background-color: var(--bg-secondary);
    padding: 50px 0;

    .container {
      display: flex;
      ;
      flex-direction: column;
      gap: 40px;


      .header-title {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
          font-size: var(--page-header-font-size);
        }

        p {
          font-size: var(--metainfo-font-size);
          color: gray;
        }

        .breadcrumbs {
          font-weight: bold;
          margin: 15px 0;
        }
      }
    }

  }

  .topics-content {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 35px;
  }
}