<section class="container">
  <section class="info">
    <h1>Вопросы с собеседования </h1>
    <p>Всего вопросов: {{ model.totalElements }}</p>
  </section>

  <section class="content">
    <div class="filter">
      <p>Фильтр: </p>
    </div>

    <table>
      <thead>
      <tr>
        <th>Шанс</th>
        <th>Вопрос</th>
        <th>Тэг</th>
      </tr>
      </thead>

      <tbody>
      <tr [routerLink]="'questions/'+row.id" *ngFor="let row of model.content">
        <td [style]="{ 'color': getColor(row.probability) }">{{ row.probability }} %</td>
        <td>{{ row.question }}</td>
        <td>{{ row.subTopic }}</td>
      </tr>
      </tbody>
    </table>
  </section>
</section>
