:host {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-content {
  width: 100%;
  background-color: var(--bg-primal);

  .content-header {
    display: flex;
    justify-content: center;

    width: 100%;
    background-color: var(--bg-secondary);
    padding: 50px 0;

    .container {
      display: flex;
      ;
      flex-direction: column;
      gap: 40px;


      .header-title {
        display: flex;
        flex-direction: column;
        gap: 15px;

        h1 {
          font-size: var(--page-header-font-size);
        }

        p {
          font-size: var(--metainfo-font-size);
          color: gray;
        }

        .breadcrumbs {
          font-weight: bold;
          margin: 15px 0;
        }
      }
    }
  }

  .search-content {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 35px;


    .grid {
      display: grid;
      width: 100%;
      grid-template-columns: 2fr 1fr;
      max-height: 40px;
      gap: 20px;

      .search-metainfo {
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
          height: 100%;
          align-items: center;

          p {
            color: gray;
            font-weight: bold;
          }
        }

        .suggest {
          gap: 5px;
          cursor: pointer;
          padding: 5px;
          border-radius: var(--border-radius);


          mat-icon {
            color: var(--primal);
          }

          a {
            font-weight: bold;
            color: var(--primal);

          }

          // &:hover {

          //   a,
          //   mat-icon {
          //     color: var(--primal);

          //   }
          // }
        }
      }

      .search-results {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }

    .additional-info {
      display: flex;
      flex-direction: column;
    }
  }
}