<section class="page-content">
  <section class="content-header">
    <div class="container">
      <div class="header-title">
        <p class="breadcrumbs"> > Topics > Java > Questions</p>
        <h1>Interview questions</h1>
        <p>Find the most popular interview questions</p>
      </div>
      <div class="search">
        <offer-search-question />
      </div>
    </div>
  </section>
  <section class="search-content" *ngIf="model">
    <div class="container">
      <div class="grid">
        <div class="search-metainfo">
          <div>
            <p>Found {{model.totalElements}} questions</p>
          </div>
        </div>
        <div></div>
        <div class="search-results">
          <offer-list-question-item [questions]="model.content"></offer-list-question-item>
        </div>
        <div class="additional-info">
          <offer-banner-item />
        </div>
      </div>
    </div>
  </section>
</section>