<div class="card">
  <h1>Sign in</h1>
  <form [formGroup]="signInForm">
    <div class="input-wrapper">
      <input type="text" placeholder="Username" formControlName="username">
      <div class="error-field" *ngIf="isValid(signInForm ,'username')">
        Length must be more than 8
      </div>
      <input type="password" placeholder="Password" formControlName="password">
      <div class="error-field" *ngIf="isValid(signInForm, 'password')">
        Length must be more than 8
      </div>
    </div>
    <button [disableToggle]="signInForm.invalid" (click)="doSignIn()">Sign In</button>
  </form>
  <div class="info">
    <a [routerLink]="'../forgot-password'">Forgot password?</a>
    <a [routerLink]="'../signup'">Sign up</a>
  </div>
</div>