:host {
  display: flex;
  justify-content: center;
  width: 100%;

}

.card {
  display: flex;
  text-align: center;
  width: 100%;
  padding: 15px;
  background: transparent;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  cursor: pointer;
  justify-content: space-between;

  mat-icon {
    color: var(--primal);
    margin: 5px;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    gap: 15px;

    .question-count {
      display: flex;
      flex-direction: column;
      align-items: end;

      p {
        display: flex;
        color: gray;
        font-size: var(--secondary-font);
      }
    }

    a {
      display: flex;
      font-weight: bold;
      height: 100%;
      border-radius: 8px;
      color: var(--text-color)
    }
  }

  &:hover {
    background-color: var(--bg-secondary);
  }
}