.contact-info {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    padding: 20px;
    gap: 20px;

    .contact-content {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h2 {
        font-size: var(--content-header-font-size);
        color: var(--primal);
      }

      p {
        color: var(--primal-soft);
        font-size: var(--content-font-size);
      }

    }

    input {
      height: 40px;
      padding: 10px;
      border: 1px solid var(--primal-soft);
      border-radius: var(--border-radius);
      background: transparent;
      outline: none;
    }

    button {
      align-self: center;
      outline: none;
      background-color: transparent;
      border: 2px solid var(--primal);
      color: var(--primal);
      border-radius: var(--border-radius);
      padding: 10px;
      width: 100%;
      transition: 0.1s;
      cursor: pointer;

      &:hover {
        background-color: var(--primal);
        color: white;
      }
    }

    .icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;

      background: var(--bg-icon);
      border-radius: 50px;

      mat-icon {
        color: var(--primal);
        ;
      }
    }
  }