<section>
  <div class="filter-header">
    <mat-icon>filter_alt</mat-icon>
    <h2>Filter</h2>
  </div>
  <label for="topic-names">Filter by topic:</label>
  <select name="topic-names" id="topic-names" class="custom-color">
    <option value="None" selected>None</option>
    <option value="Java Collections">Collections</option>
    <option value="Java Multithreading">Multithreading</option>
    <option value="Java Core">Core</option>
    <option value="Spring Boot">Spring boot</option>
  </select>

  <label for="sortBy">Sort by:</label>
  <select name="sortBy" id="sortBy">
    <option value="Name" selected>Name</option>
    <option value="Probability">Probability</option>
    <option value="Topic">Topic</option>
  </select>

  <button>Apply</button>
</section>
