:root {
  --primal: #7940ec;
  --primal-soft: #917fd8;

  --bg-primal: #FFF;
  --bg-secondary: #F1F2F8;

  --border-color: lightgray;

  --bg-icon: #cdbcee;
  --text-color: black;

  --page-header-font-size: 30px;

  --content-header-font-size: 18px;
  --content-font-size: 16px;
  --metainfo-font-size: 14px;

  --border-radius: 5px;
  --content-padding: 15px;
}

@media (prefers-color-scheme: dark) {
  :root{
    --bg-primal:  #222;
    --bg-secondary:#141414;
    --border-color: rgb(49, 49, 49);
    --text-color: #dedede;
  }
}