:root {
  --primal: #692BD4;
  --primal-soft: #A895CA;

  --background-primal: #FFF;
  --background-secondary: #F1F2F8;

  --content-font-size: 20px;
  --metainfo-font-size: 15px;

  --page-header-font-size: 30px;
  --content-header-font-size: 24px;

  --border-radius: 10px;
  --content-margin: 10px;
  --content-padding: 15px;
}
