:root {
  --primal: #692BD4;
  --primal-soft: #917fd8;

  --bg-primal: #FFF;
  --bg-secondary: #F1F2F8;

  --bg-icon: #cdbcee;

  --page-header-font-size: 30px;

  --content-header-font-size: 18px;
  --content-font-size: 16px;
  --metainfo-font-size: 14px;

  --border-radius: 5px;
  --content-margin: 10px;
  --content-padding: 15px;
}
