<section>
    <form [formGroup]="questionForm">
        <div class="title-wrapper">
            <div class="question-form-title">
                <div class="icon-wrapper">
                    <mat-icon>post_add</mat-icon>
                </div>
                <h2>Add new question</h2>
            </div>
        </div>
        <div class="question-text">
            <textarea placeholder="Put your question here" rows="3" formControlName="question"></textarea>
        </div>
        <div class="topic-config">
            <offer-topic-autocomplete [topics]="topics" (selected)="onSelectTopic($event)" />
            <button (click)="addQuestion()">Add Question</button>
        </div>
    </form>
</section>